.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.page-content {
	transition: 0.2s margin-top ease-in-out, 0.15s opacity ease-in-out;
}

@media screen and (min-width: 330px) {
	.page-content {
		margin-top: 70px;
	}
	.api-response > * {
		width: 100%;
	}
}